




/*custom upload elements*/
.customfile-input { position: absolute; height: 20px; cursor: pointer; background: transparent; border: 0; opacity: 0; -moz-opacity: 0; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0); z-index: 999; font-size:10px;}

.customfile {
	float:left;
	width: 50%;
	height: 15px;
	background: #FFF;
	cursor: pointer;
	overflow: hidden;
	padding: 3px 0px 5px 0px;
	border: #CCC solid 1px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	position: relative;
	font-size:12px;
	box-shadow: 0px 0px 2px #666666;
	margin: 2px 2px 2px 17px;
	color:#333333;
	
}
.customfile-disabled { opacity: .5; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0); cursor: default; color:#333333; padding: 4px; text-align:left; }
.customfile-feedback { display: block; color: #333; padding: 0px 4px 0px 4px; text-align:left;}
.customfile-feedback-populated { color: #333; padding: 4px; text-align:left; }
.customfile-button { background: #333;  color: #fff; float: right; padding: 4px 4px 2px 4px;  text-align: center; text-decoration: none;  font-size:11px; -moz-border-radius:4px; -webkit-border-radius:4px; border-radius:4px;  box-shadow: 0px 0px 1px #666666; }
.customfile-hover .customfile-button, .customfile-focus .customfile-button  { color:#FFF; background: #000; box-shadow: 0px 0px 4px #666666; }


